:host {
  display: block;
}

/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  position: absolute;
  top: 100px;
  left: 333px;
  text-shadow: 0 0 4px #FFFFFF;
  font-size: 30px;
  font-weight:bold;
  font-family: Helvetica, Arial, sans-serif;
}

